img{width:100%;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #997;
}


body {
    background-image: url("https://myob-gm-digital-production-blog-assets.s3.amazonaws.com/uploads/2016/06/5-tools-for-inventory-management-blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

